
.boxMain{
    background-color:white;
    width: 100%;
    height: 500px;
}

.h1{
    font-family: fantasy;
    text-align: center;
    color: red;
    font-size: 30px;
    padding: 20px;
}

.p{
    font-family: fantasy;  
    margin-left: 260px;
    padding-right: 260px;
    text-align: justify;
    font-size: 20px;
}

@media screen and (max-width: 800px) {    
    .p {
    font-family: fantasy;  
    margin-left: 60px;
    padding-right: 60px;
    text-align: justify;
    font-size: 20px;
    }

    
}
    
    